<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Token counts:</strong>
  <%= @user.token_counts %>
</p>

<p>
	Current Token : <%= @user.current_token %> 
</p>
<p>
	Last Token : <%= @user.last_token if @user.last_token? %> 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
