<div id="footer">
    <%= link_to "Home", root_path %>
    <%= link_to "API" , api_doc_path %> 
    <%= link_to "Contact" , contact_path %> 
    <%= link_to "Report" , report_path%> 
    <%= link_to "About" , about_path%> <br />
    <br />
    <%= link_to "Fork on Github", "https://github.com/alokyadav15/shorty" %> 
 </div>